.swiper-pagination {
    position: static !important;
    /* bullets now static, not over image */
    text-align: center;
    z-index: 1;
    bottom: 0.5;
}

/* custom swiper dots */
.swiper-pagination-bullet {
    background-color: #cbd5e1;
    /* Tailwind's slate-300 */
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 5px !important;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    scale: 1.5;
    border-radius: 9999px;
    background: linear-gradient(to right, #00157F, #4C5F97);
}